.board {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 65px;
    height: 95vh;
    display: none;
    transform: rotate(10deg);
    transition: ease-in-out 0.5s;
    margin: auto;
    @include large {
        display: block;
    }

    @include extra-large {
        right: 105px;
    }

    &--home {
        right: -250px;
    }


    &__image {
        height: 100%;
        cursor: pointer;
    }
}

.rot {
    transform: rotate(-10deg);
    transition: ease-in-out 0.5s;
}