.board {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    transform: translateX(-100px);
    height: 95vh;
    display: none;
    transform: rotate(10deg);
    transition: ease-in-out 0.5s;
    overflow: hidden;
    margin: auto;

    &--home {
        right: -250px;
    }
    
    @include large {
        display: block;
    }
    
    &__image {
        height: 100%;
        cursor: pointer;
    }
}

.rot {
    transform: rotate(-10deg);
    transition: ease-in-out 0.5s;
    overflow: hidden;
}