.card {
    background-color: transparent;
    border: none;
    margin-top: 20%;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: translateY(-90px);
    z-index: 20;
}

.carousel-item {
    padding-top: 50px;
    transition: transform 0.8s ease-in-out !important;
}

.container-carousel-mobile {
    max-height: 500px;
    margin: 150px auto 0 auto;
}

.container-carousel-desktop {
    display: none;
}

@include medium {
    .container-carousel-mobile {
        display: none;
    }

    .container-carousel-desktop {
        display: initial;
    }

    .carousel-indicators li{
        background-color: #315259;
        padding-bottom: 0;
        z-index: 20;
        transform: translateY(-50px);
     }
}

