.card {
    background-color: transparent;
    border: none;
    margin-top: 150px;
    // transform: translateY(110px);

    @include large{
        // margin-top:200px;
    }
}

.carousel-item {
    transition: transform 0.8s ease-in-out !important;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translateY(-30px);
    z-index: 20;

    @include small {
        transform: translateY(-90px);
    }

    @include medium {
        background-color: black;
        padding-bottom: 0;
        z-index: 20;
        transform: translateY(-50px);
    }

    @include large {
        background-color: black;
        padding-bottom: 0;
        z-index: 20;
        transform: translateY(-90px);
     }
}

.container-carousel-mobile {
    max-height: 500px;
    max-width: 550px;
    margin: 0 auto;
    transform: translateY(130px);
    
    @include medium {
        display: none;
    }
}

.container-carousel-desktop {
    display: none;

    @include medium {   
        display: initial;
        margin-top: 100px;
    }
}


.carousel-control-next .carousel-control-next-icon{
    transform: translateY(-30px);
    background-color: red;
}

