.comment {
    width: 100%;
    position: absolute;

    &__slider {
        margin: auto;
        width: 290px;
        height: 100px;
        background-image: url("./images/comment1.png");
        animation: slide 8s infinite;
    
        @include medium {
            margin: 20px 0 0 5%;
        }
    }
    
    @keyframes slide  {
    
        10%{
            background-image: url("./images/comment1.png");
            background-size: cover;
        }
    
        66%{
            background-image: url("./images/comment2.png");
            background-size: cover;
        }
    
        100%{
            background-image: url("./images/comment3.png");
            background-size: cover;
        }
    }
}


