.contact {
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $primary;
    margin: 0 auto;

    &__title {
        font-family: $primary;
        color: #315259;
        font-size: 30px;
        text-align: center;
        margin: 40px 0  20px 0 ;

        @include large {
            font-size: 40px;
        }
    }

    &__description {
        line-height: 1.5;
        text-align: center;
        color: #3D3A48;
        margin: auto;
        font-size: 16px;
        margin: 0 10px;

        @include large {
            font-size: 18px;
        }
    }

    &__container {
        width: 100%;
        margin-top: 30px;
        
        @include large {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
        }
    }

    &__content {
        width: 100%;
    
        @include large {
            width: 40%;
        }   
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;  
    }

    &__detail {
        color: #3D3A48;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        &--extra {
            padding-left: 35px;
            margin-bottom: 10px;
            color: #3D3A48;
            display: flex;
            justify-content: center;
        }
    }

    &__social-media{
        padding-top: 40px;
        height: 100px;
        text-align: center;
        border-top: .5px solid #3D3A48;
        margin: auto 40px;

        @include large {
            margin: auto 10%;
        }
    }

    &__button {
        margin: 3% 0 5% 5%;
        border: 1px solid #5b6b82;
        border-radius: 15px;
        background-color: #e6e3e3;
        width: 80px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out .3s;
        outline: none;
    }
    @include medium {
        &__button:hover {
            cursor: pointer;
            transition: ease-in-out .3s;
            background-color: #888e97;
        }
    }

    &__home {
        color: #3b3c3d;
        text-align: center;
        text-decoration: none;
        width: 100%;
        transition: ease-in-out .3s;
    }
    @include medium {
        &__home:hover {
            color: white;
            transition: ease-in-out .3s;
        }
    }
}

#map {
    width: 90%;
    margin: auto;
    height: 300px;
    background-color: grey;
    margin-bottom: 20px;

    @include large {
        width: 60%;
        margin-right: 30px;
        height: 400px;
    }
}

.fas{
    color: #315259; 
    font-size: 20px;
    margin: auto 0;
    padding-right: 15px;
}

.fab {
    font-size: 30px;
    margin: 15px;
    color:#3D3A48;
    cursor: pointer;
}

@include medium { 
    .fa-facebook-f:hover {
        color: #4267B2;
    }
    .fa-twitter:hover{
        color: #00acee;
    }
    .fa-instagram:hover {
        color: #8a3ab9;
    }
}