.overlay {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter:  blur(10px) brightness(35%) ; 
    position: absolute;
    z-index: 20;
    display: none;
    margin: 0 auto;
   

    &__menu {
        width: 100%;
        height: 100%;
    }

    &__list {
        max-width: 768px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;  
        text-align: justify;
        position: relative; 
    }

    &__item {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        position: relative;
        text-align: center;
    }

    &__object {
        text-transform: none;
        text-shadow: 3px 3px rgb(32, 32, 32);
        letter-spacing: 1.5px;  
        text-align: justify;
        color:rgb(226, 236, 235);
        position: relative;
        list-style: none;
        font-family: $primary;
        font-size: 2.2rem;
        font-weight: light;
    }

    &__object:hover {
        color:rgb(226, 236, 235);
        transition: ease-in-out 0.2s; 
        text-decoration: none;
        font-size: 2.5rem;
    }
}

.active {
    display: block;
}

.overlay__item:hover {
    background-color: #678d96;
    border: 1px solid  rgb(92, 92, 92);
    transition: ease-in-out 0.3s; 
}
