.price {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    font-family: $primary;
    margin: 0 auto;

    &__content {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        
        @include large {
            padding: 50px 0;
        }
    }

    &__title {
        font-family: $primary;
        color: #315259;
        font-size: 30px;
        text-align: center;
        margin-bottom: 25px;

        @include large  {
            font-size: 40px;
        }
    }

    &__description {
        line-height: 1.6;
        text-align: center;
        color: #3D3A48;
        margin: auto;
        font-size: 16px;
        margin: 0 30px;

        @include large {
            margin: 0 10%;
            font-size: 18px;
        }
    }

    &__tiles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include medium {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__info {
        width: 280px;
        border: .5px solid #D6D3E2;
        box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.6);
        background-color: white;
        margin: 15px;

        @include small {
            width: 320px;
        }

        @include medium {
            width: 350px;
            margin: 30px;
        }
    }

    &__heading {
        font-family: $primary;
        color: #315259;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        font-weight: lighter;
    }

    &__cost {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        color: #3D3A48;
    }

    &__pound {
        font-size: 20px;
        margin-right: 10px;
    }

    &__amount {
        font-size: 50px;
        margin: 20px 0;
    }

    &__list {
        list-style: none;
        padding-left: 30px;

        @include small {
            padding-left: 50px;
        }

        @include medium {
            padding-left: 70px;
        }
    }
     
    &__check {
        padding-bottom: 15px;
        color: #4e4e50;
        font-weight: lighter;
    }

    &__buy { 
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__button {
        border: 1px solid #5b6b82;
        border-radius: 15px;
        font-size: 18px;
        color: #5b6b82;
        background-color: transparent;
        text-align: center;
        width: 150px;
        margin: 20px 0;
        height: 40px;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s;
        outline: none;

        @include medium {
            width: 200px;
            font-size: 20px;
        }
    }

    &__button:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: opacity .3s;

    }

    &__back {
        margin: 20px 0 20px 5%;
        border: 1px solid #5b6b82;
        border-radius: 15px;
        color: #5b6b82;
        background-color: white;
        width: 80px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .3s;
        outline: none;
    }

    &__back:hover{
        cursor: pointer;
        transition: ease-in-out .3s;
        background-color: #888e97;
    }

    &__home {
        color: #5b6b82;
        text-align: center;
        text-decoration: none;
        width: 100%;
        transition: ease-in-out .3s;
        height: 100%;
        margin-top: 10px;
    }

    &__home:hover {
        color: white;
        transition: ease-in-out .3s;
    }
}


.far {
    margin-right: 8px;
    color: green;
}