$primary: 'Poppins', sans-serif;
$decor: 'Qwigley', cursive;



$small: 540px;
@mixin small {
    @media (min-width: #{$small}){
        @content;
    }
}

$medium: 768px;
@mixin medium {
    @media (min-width: #{$medium}){
        @content;
    }
}

$large: 991px;
@mixin large {
    @media (min-width: #{$large}){
        @content;
    }
}

$extra-large: 1px;
@mixin extra-large {
    @media (min-width: #{$extra-large}){
        @content;
    }
}

